/* Styles for screens smaller than 768px (common for tablets and mobiles) */
@media screen and (max-width: 767px) {
  /* Give the body some breathing room on small screens */
  body {
    font-family: sans-serif !important;
    background-color: #fafafa;
    margin: 0;
    padding: 16px;
    padding-top: 24px;
  }

  /* Make the main content area fit the viewport */
  .content-wrapper {
    max-width: 100%;
    max-height: none;
    height: auto;
    margin-top: 40px;
  }

  /* Stack the profile image above the text */
  .picture > img {
    width: 100%;
    max-width: 300px;
    height: auto;
    float: none;
    margin: 0 auto 20px auto;
  }

  /* Stack bio title and content vertically */
  .bio,
  .bio-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .bio {
    font-size: 16px;
    padding: 12px;
  }

  .title {
    font-size: 24px;
  }

  /* Project section: remove large side margins and float images */
  .project-wrapper {
    margin-top: 40px;
    font-size: 16px;
  }

  .projects-list > div {
    margin-bottom: 30px;
    padding-left: 0;
    height: auto;
  }

  .project-content {
    margin-bottom: 30px;
    padding: 12px;
    border-radius: 9px;
  }

  .project-content#project-left-content,
  .project-content#project-right-content {
    margin-left: 0;
    margin-right: 0;
  }

  .project-left-wrapper .project-image,
  .project-right-wrapper .project-image {
    width: 100%;
    max-width: 300px;
    float: none;
    margin: 0 auto 20px auto;
  }

  /* Keep socials bar visible and not pushed off-screen */
  .socials-bar {
    margin-top: 10px;
    margin-left: 0;
  }
}


/* Styles for screens larger than 768px (desktops) */
@media screen and (min-width: 768px) {
  body {
    font-family: sans-serif !important;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
   }
}

/* Nav Bar */
div#nav-bar {
  font-family: sans-serif;
  border-radius: 9px;

  /* align the bar to the right side */
  width: auto;          /* let it size to its contents */
  margin-top: 30px;
  margin-left: auto;    /* pushes it to the right */
  margin-right: 0;

  padding-right: 10px;  /* spacing between text and right edge */
  text-align: right;    /* align the items inside to the right */
}

ul#nav-buttons li {
  display: inline;
  list-style: none;
  position: center;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  unicode-bidi: isolate;
}

/* Socials Bar */
.socials-bar {
  margin-top: -150px;
  margin-left: -45px;
}

ul#socials-buttons li {
  display: inline;
  list-style: none;
  unicode-bidi: isolate;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  unicode-bidi: isolate;
}

.social-icon {
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
}

/* Home Content */
.content-wrapper {
  max-height: 700px;
  height: 500px;
  margin-top: 100px;
  max-width: fit-content;
}

.picture > img {
  box-shadow: 0px 0px 10px 10px #f2f4f5;
  width: 300px;
  height: 400px;
  border-radius: 9px;
  float: left;
  margin-top: -50px;
  object-fit: cover;
  margin-right: 50px;
}

.bio {
  box-shadow: 0px 0px 10px 5px #f2f4f5;
  font-size: 18px;
  border-radius: 9px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.bio, .bio-title {
  display: flex;
}

.bio-title {
  padding-left: 10px;
  justify-content: left;
}

.bio-title#content-right {
  justify-content: right;
  padding-right: 20px;
}

.title {
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #2176ff;
  transition: .3s;
}

/* Project Specific */

.project-title {
  display: flex;
  padding-left: 30px;
  justify-content: left;
}

.project-title#project-right {
  justify-content: right;
  padding-right: 30px;
}

.project-wrapper {
  margin-top: 100px;
  font-size: 18px;
}

.projects-list > div {
  margin-bottom: 50px;
  padding-left: 5px;
  height: 209px;
}

.project-content {
  margin-bottom: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 5px #f2f4f5;
  height: fit-content;
}

.project-content#project-left-content {
  margin-left: 320px;
}

.project-content#project-right-content {
  margin-right: 320px;
}

.project-left-wrapper .project-image {
  border: 1px solid #000000;
  border-radius: 9px;
  width: 300px;
  position: static;
  float: left;
}

.project-right-wrapper .project-image {
  border: 1px solid #000000;
  border-radius: 9px;
  width: 300px;
  position: static;
  float: right;
}

.project-image:hover {
  transform: scale(2);
  transition: all .5s ease-in-out;
}